@media screen and (max-width: 400px) {
  #about {
    padding: 20px;
    width: 111%;
  }
  ,
  #services,
  #testimonials,
  #features
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
